<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SusSeel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <main class="main" id="top">
      <section class="pt-7">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-md-start text-center py-6">
              <h1 class="mb-4 fs-9 fw-bold">Welcome to SusSeel, your go-to platform for professional resume evaluations!</h1>
              <p class="mb-6 lead text-secondary">In today's job market, having a standout CV is crucial.<br class="d-none d-xl-block" />Our mission at SusSeel is to empower job seekers by providing expert assessments of their resumes,<br class="d-none d-xl-block" />helping them increase their chances of landing their dream job.</p>
            </div>
            <div class="col-md-6 text-end"><img class="pt-7 pt-md-0 img-fluid" src="assets/img/hero/hero-img.png" alt="" /></div>
          </div>
        </div>
      </section>
      <section class="pt-5 pt-md-9 mb-6" id="feature">
        <div class="bg-holder z-index--1 bottom-0 d-none d-lg-block" style="background-image:url(assets/img/category/shape.png);opacity:.5;">
        </div>
        <div class="container">
          <h1 class="fs-9 fw-bold mb-4 text-center"> We will check your CV <br class="d-none d-xl-block" />within minutes!</h1>
          <div class="row">
            <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3" src="assets/img/category/icon1.png" width="75" alt="Feature" />
              <h4 class="mb-3">One click!</h4>
              <p class="mb-0 fw-medium text-secondary">You can get feedback about your CV in one click!</p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3" src="assets/img/category/icon3.png" width="75" alt="Feature" />
              <h4 class="mb-3">Honest!</h4>
              <p class="mb-0 fw-medium text-secondary">We will give you an honest feedback about your resume!</p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3" src="assets/img/category/icon4.png" width="75" alt="Feature" />
              <h4 class="mb-3">Few minutes!</h4>
              <p class="mb-0 fw-medium text-secondary">We will check your CV within a few minutes!</p>
            </div>
          </div>
        </div>
      </section>
      <section class="pt-5" id="validation">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="text-secondary">For</h5>
              <h2 class="mb-2 fs-7 fw-bold">Quality Assurance Gurus</h2>
              <p class="mb-4 fw-medium text-secondary">
                In the realm of software testing and quality assurance, having a meticulously validated CV is paramount.
                Our CV ranking service ensures that your testing expertise stands out in the competitive landscape.
              </p>
              <h4 class="fs-1 fw-bold">Bug Bounty Hunters</h4>
              <p class="mb-4 fw-medium text-secondary">For testers who thrive on uncovering software bugs and vulnerabilities, a well-validated CV is a testament to their skill set.</p>
              <h4 class="fs-1 fw-bold">Automation Advocates</h4>
              <p class="mb-4 fw-medium text-secondary">Looking to elevate your CV ranking as a tester without incurring additional costs?
                Our service provides a cost-effective solution for seamless validation, allowing testers to highlight their automation skills and testing accomplishments.</p>
            </div>
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/validation/validation.png" alt="" /></div>
          </div>
        </div>
      </section>
      <section class="pt-5" id="manager">
        <div class="container">
          <div class="row">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/manager/manager.png" alt="" /></div>
            <div class="col-lg-6">
              <h5 class="text-secondary">For</h5>
              <p class="mb-2 fs-8 fw-bold">Programmers</p>
              <h4 class="fw-bold fs-1">Coding enthusiasts</h4>
              <p class="mb-4 fw-medium text-secondary">While most programmers revel in the joy of coding and building innovative solutions, having a well-validated CV can significantly enhance your professional profile.</p>
              <h4 class="fw-bold fs-1">Code Craftsmen</h4>
              <p class="mb-4 fw-medium text-secondary">Looking for a way to boost your CV ranking without breaking the bank? Our service provides seamless validation, helping programmers showcase their expertise effectively.</p>
              <h4 class="fw-bold fs-1">Algorithm Aficionados</h4>
              <p class="mb-4 fw-medium text-secondary">In the world of programming, where algorithms rule, our CV ranking service ensures that your skills and achievements are accurately validated, giving you a competitive edge.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="pb-2 pb-lg-5">
        <div class="container">
          <div class="row border-top border-top-secondary pt-7">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-6 mb-lg-0 mb-sm-2 order-1 order-md-1 order-lg-1"><img class="mb-4" src="assets/img/logo.png" width="184" alt="" /></div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 order-3 order-md-3 order-lg-2">
              <p class="fs-2 mb-lg-4">Quick Links</p>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">About us</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Blog</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Contact</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">FAQ</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 order-4 order-md-4 order-lg-3">
              <p class="fs-2 mb-lg-4">Legal stuff</p>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Disclaimer</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Financing</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Privacy Policy</a></li>
                <li class="mb-1"><a class="link-900 text-secondary text-decoration-none" href="#!">Terms of Service</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <iframe class="rounded" style="width:100%;height:500px;" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
  </body>
</html>